h1,
h3,
h4 {
  font-family: "Merriweather", serif;
  margin: 10px 20px;
}
li {
  list-style: none;
}
h4:first-letter {
  text-transform: capitalize;
}
.container {
  width: 750px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/016/008/original/pexels-benjamin-suter-2361997.jpg?1629987772");
  background-size: cover;
  border: 2px solid #8fadae;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}
.weather-app {
  padding: 20px 30px;
}
.btn-primary {
  background-color: #dd7977;
  border: none;
}
.btn-success {
  background-color: #b55357;
  border: none;
}
#temperature {
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-weight: 900;
}
.units {
  position: relative;
  top: -15px;
  font-weight: bold;
}
.units .active {
  color: black;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
#celcius,
#fahrenheit {
  text-decoration: none;
}
.conditions {
  font-family: "Merriweather", serif;
  font-size: 20px;
  margin-top: 50px;
}

.weather-forecast {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}
#github-link {
  display: block;
  text-align: center;
  font-family: "Merriweather", serif;
}
