.container {
  width: 750px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/019/442/original/weatherprojectimage_copy-min_%281%29.jpg?1634832756");
  background-size: cover;
  border: 2px solid #8fadae;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}

.current {
  font-family: "Merriweather", serif;
}
li {
  list-style: none;
}
h1 {
  margin-left: 30px;
}
#current-weather,
#date {
  font-size: 20px;
}
#current-weather:first-letter {
  text-transform: capitalize;
}
.weather-conditions {
  margin-left: 4px;
}
.weather-app {
  padding: 20px 30px;
}
.btn {
  background-color: #dd7977;
  color: white;
}
.btn:hover {
  background-color: #b55357;
  color: white;
}
#current-location {
  color: white;
  background-color: #b55357;
}
#current-location:hover {
  background-color: #dd7977;
}
#temperature {
  font-family: "Merriweather", serif;
  font-size: 50px;
  font-weight: 600;
}
#icon {
  position: relative;
  bottom: 15px;
}
.units {
  position: relative;
  top: -20px;
  font-weight: 700;
}

.conditions {
  font-family: "Merriweather", serif;
  font-size: 20px;
  margin-top: 25px;
}

.weather-forecast {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
#github-link {
  display: block;
  text-align: center;
  font-family: "Merriweather", serif;
}
